.formControl {
}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error Span {
    color: red;
}

.formSummuryError {
    border: 2px solid red;
    padding: 5px;
    color: red;
}
